body{
    background-color: #faf7f0;
    font-family: 'Courier New', Courier, monospace;
}

button{
    font-family: 'Courier New', Courier, monospace;
}

/* Layout */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

.container{
    max-width: 450px;
    margin: 0 auto;
    overflow-y: auto;
    padding: 0 4px;
}

.button-container{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

h4, h3{
    margin: 0;
}

/* navigation layout */

header .container{
    display: flex;
/*    justify-content: space-between;*/
    align-items: baseline;
}

header{
    margin: 0;
}

/* recipe form layout */

.section-one{
    color: #6B4423;
    padding: 10px 0;
    font-size: large;
}

/* filters layout */

.recipe--filters{
    padding: 24px 0px 16px 0px;
}

.recipe--filters .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

/* header styling */

header button{
    margin-left: auto;
    width: 50px;
    height: 50px;
    border: 2px solid sandybrown;
    border-radius: 50%;
    background-color: white;
    color:  #221408;
    font-size: larger;
    cursor: pointer;
    box-shadow: 4px 2px 1px #C4A484;
}

header button:active,
header button:hover{
    background-color: #f49b5f;
}

header h1{
    /* color: #926644; */
    color:  #221408;
}

/* recipe form styling */

.section-one fieldset{
    border: 2px solid #e4bd9f;
    border-radius: 15px;
    padding: 15px 12px;
    margin: 0;
}

.section-one input{
    padding: 8px 0px 8px 12px;
    border: 1px solid #f49b5f;
    border-radius: 15px;
    font-size: large;
    background-color: white;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    color:rgb(178, 42, 65);
    font-weight: 600;
}

input::placeholder{
    color: #bfbfbf;
    font-weight: 400;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.labels{
    display: flex;
    gap: 44px;
    list-style: none;
    line-height: 0;
    padding: 0;
    margin: 20px 0px 6px 0px;
}

.ingredient-list h4, 
.cooking-method--form h4{
    margin-top: 24px;
}

.item{
    display: flex;
    align-items: baseline;
}

.qty{
    max-width: 60px;
}

.hidden{
    display: none;
}

.add--button{
    border-radius: 18px;
    padding: 8px 12px;
    border: 1px solid sandybrown;
    box-shadow: 4px 4px 1px #C4A484;
    background-color: white;
    color: #6B4423;
    margin: 14px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}

.add--button:hover{
    background-color: sandybrown;
}

.custom-select{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 20px 0px;
    flex-wrap: wrap;
}

.custom-select select{
    max-width: 150px;
    padding: 8px 14px;
    border: 1px solid sandybrown;
    color: rgb(178, 42, 65);
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    border-radius: 18px;
}

/* .categories{
    display: flex;
    gap: 14px;
    padding: 20px 0px;
    flex-wrap: wrap;
} */

/* .categories div{
    display: flex;
    align-items: baseline;
    gap: 0px;
} */

/* submit button styling */

.submit{
    width: 100%;
    border-radius: 50px;
    border: 1px solid sandybrown;
    padding: 12px 24px;
    background-color: white;
    /* color: #221408; */
    color: #6B4423;
    font-weight: bold;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 4px 4px 1px #C4A484;
    cursor: pointer;
}

.submit:hover, .submit:active{
    background-color: sandybrown;
}

/* filters styling */

.recipe--filters button{
    background-color: white;
    border: 2px solid sandybrown;
    border-radius: 50px;
    padding: 8px 12px;
    color: #221408;
    font-size: 1rem;
    margin-right: 6px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.recipe--filters button:hover,
.recipe--filters button:active{
    background-color: sandybrown;
}

/* recipe card styling */

.recipe--section{
    margin: 10px 8px;
}

.recipe--card{
    background-color: white;
    /* border: 2px solid #926644; */
    border: 2px solid #C4A484;
    border-radius: 15px;
    color: #6B4423;
    margin: 0 0 20px 0;
    overflow-wrap: break-word;
    box-shadow: 4px 4px 1px #C4A484;
}

.recipe--header{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px ;
    padding: 6px 18px 6px 18px;
}

.recipe--header h3{
    margin: 8px 0px;
}

.recipe--header a{
    text-align: right;
    color: rgb(134, 7, 50);
    font-weight: 600;
}

.recipe--header a:hover, 
.recipe--header a:active{
    color: palevioletred;
}

.recipe--body{
    border-top: 2px solid #D2B48C;
    padding: 10px 0px;
}

.recipe--body h4{
    margin: 0;
    padding: 0px 18px 0px 18px;
}

.recipe--body ul{
    padding: 8px 18px 12px 36px;
    margin: 0;
}

/* recipeCard toggles */
.recipe--card {
    overflow: hidden; 
    height: auto; 
    transition: height 0.3s ease-in-out;
}

.recipe--card.collapsed {
    height: 10em;
}

.recipe--card:not(.collapsed) {
    height: auto;
}

.action-buttons-conatiner{
    display: flex;
    align-items: center;
    gap: 6px;
}

.resize-recipe-card, 
.delete-recipe {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: right;
    color: rgb(134, 7, 50);
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

.resize-recipe-card:hover,
.delete-recipe:hover {
    color: #d32f2f;
}

.confirm-delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

.confirm-delete:hover {
    background-color: #d32f2f;
}

i{
    font-size: 1.15rem;
}

